<!DOCTYPE html>
<html>
<head>
<title>doc-preview.html</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript" src="../../Resources/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../lib/FlexPaper_1.4.5_flash/js/flexpaper_flash.js">
</script>
<script type="text/javascript"
	src="../../lib/FlexPaper_1.4.5_flash/js/flexpaper_flash_debug.js"></script>
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<style type="text/css">
#viewer{
   width:200px;
   height:800px;
}
</style>
</head>

<body ng-app="app" ng-controller="doc">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<div style="text-align : center;width: 100%;" id="c">
		<a id="viewer"></a>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript" src="../../Controllers/web/doc-preview.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
