<!DOCTYPE html>
<html>
<head>
<title>计划任务</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="web" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>安全管理</span></li>
							<li class="active"><span>计划任务</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="alert alert-danger">
				<i class="fa fa-close text-white pull-right" id="alert-close"></i>
				提示：计划任务 主要指系统定期自动清理数据库过期的数据
				<div class="btn-group" style="margin-left:40px;padding-top:0px;">
					<button class="btn btn-success btn-sm" data-toggle="modal"
						data-target="#add" ng-disabled="up.p_add=='off'?true:false">
						<i class="fa fa-plus-circle"></i>&nbsp;添加计划任务
					</button>
				</div>
			</div>

			<div class="row" ng-show="false">
				<div class="col-md-12">

					<div class="btn-group" style="padding-top:10px;">
						
						<button class="btn btn-info btn-sm"
							ng-click="a()">
							<i class="fa fa-edit"></i>&nbsp;终端用户
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="b()">
							<i class="fa fa-edit"></i>&nbsp;终端用户业务属性
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="c()">
							<i class="fa fa-edit"></i>&nbsp;通话组/通播组
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="d()">
							<i class="fa fa-edit"></i>&nbsp;通话组/通播组业务属性
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="e()">
							<i class="fa fa-edit"></i>&nbsp;通播组
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="f()">
							<i class="fa fa-edit"></i>&nbsp;调度用户
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="g()">
							<i class="fa fa-edit"></i>&nbsp;调度用户业务属性
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="h()">
							<i class="fa fa-edit"></i>&nbsp;摇启
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="i()">
							<i class="fa fa-edit"></i>&nbsp;摇晕
						</button>
						<button class="btn btn-info btn-sm"
							ng-click="j()">
							<i class="fa fa-edit"></i>&nbsp;动态重组
						</button>
						
					</div>
				</div>
			</div>

			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div>
							计划任务列表
						</div>
						<div class="panel-body">

							<!-- row -->
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<!-- <th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" /></th>
										<th width="80px">操作数据库</th> -->
										<th>事件名称</th>
										<th width="130px">创建时间</th>
										<th width="100px">执行周期</th>
										<th width="100px">开始时间</th>
										<th width="100px">事件运行状态</th>
										<th>上次运行时间</th>
										<th width="100px">操作详情</th>
										<!-- <th width="150px">操作</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="10" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<!-- <td><input type="checkbox" name="tb-check"
											value="{{x.id}}" index="{{$index}}" /></td> -->
										<!-- <td>{{x.db}}</td> -->
										<td>{{x.name}}</td>
										<td>{{x.created}}</td>
										<td>每{{x.interval_value}}天</td>
										<td>{{x.starts}}</td>
										<td>{{x.status}}</td>
										<td>{{x.last_executed}}</td>
										<td style="width:20px;text-align:center"><a href="#"
											ng-click="del(x.name)" ng-show="up.p_add=='on'?true:false"><i
												class="fa fa-trash text-success"></i>&nbsp;删除</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'event-add.html'"></div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../Controllers/web/event.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
