<!DOCTYPE html>
<html>
<head>
<title>角色管理</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
	
	<link rel="stylesheet" type="text/css"
	href="../../lib/zTree_v3/css/zTreeStyle/zTreeStyle.css">
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="user"
	class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>平台管理</span></li>
							<li class="active"><span>角色管理</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
					<div class="panel-heading hbuilt">
								<!-- <div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div> -->
							角色列表</div>
						<div class="panel-body">
							<!-- row -->
							<div class="row">
								<div class="col-md-12">
								<div class="btn-group" style="padding-top:10px;">
									<button class="btn btn-success btn-sm" data-toggle="modal"
										data-target="#add" ng-disabled="up.p_add=='off'?true:false">
										<i class="fa fa-plus-circle"></i>&nbsp;添加角色
									</button>
									<button class="btn btn-info btn-sm" ng-disabled="up.p_update=='off'?true:false"
										ng-click="showEditModel()" >
										<i class="fa fa-edit"></i>&nbsp;修改角色
									</button>
									<!-- <button class="btn btn-success btn-sm"ng-disabled="up.p_add=='off'?true:false"
										ng-click="menu($index)">
										<i class="fa fa-bars"></i>&nbsp;菜单编辑
									</button> -->
									<button class="btn btn-danger btn-sm" onclick="xh.delMore()"
										ng-disabled="up.p_delete=='off'?true:false">
										<i class="fa fa-trash"></i>&nbsp;批量删除角色
									</button>
									<button class="btn btn-warning btn-sm" ng-click="refresh()">
										<i class="fa fa-refresh"></i>&nbsp;刷新
									</button>
									</div>
								</div>
							</div>
							<!-- row -->
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" /></th>
										<th>角色ID</th>
										<th>角色类型</th>
										<th>角色名</th>
										
										<th>创建时间</th>
										<th width="250px">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="6" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td><input ng-if="x.roleId<=1000 && loginUserRoleId!=x.roleId" type="checkbox" name="tb-check"
											value="{{x.roleId}}" index="{{$index}}" /></td>
										<td>{{x.roleId}}</td>
										<td>
										<span ng-if="x.roleType==0">超级管理员</span>
										<span ng-if="x.roleType==1">主管部门</span>
										<span ng-if="x.roleType==2">管理部门</span>
										<span ng-if="x.roleType==3">800M运维</span>
										<span ng-if="x.roleType==4">公安交管普通用户</span>
										<span ng-if="x.roleType==5">运营商（电信、移动、铁塔)</span>
										<span ng-if="x.roleType==6">其他用户</span>
										</td>
										<td>{{x.role}}</td>
										
										<td>{{x.createTime}}</td>
										<td style="width:20px;text-align:center">
										<div ng-if="loginUserRoleId!=x.roleId || roleType==0">
										<a href="#" ng-if="roleType==0"
										ng-click="menu($index)">
										<i class="fa fa-bars text-success"></i>&nbsp;菜单编辑
									    </a>
									    
									    <a href="#" ng-if="roleType==0"
										ng-click="power($index)">
										<i class="fa fa-exclamation-triangle text-success"></i>&nbsp;权限编辑
									    </a>
										
										<a href="#" ng-click="editModel($index)" data-toggle="modal"
											data-target="#edit" ng-show="up.p_update=='on'?true:false"> <i class="fa fa-edit text-success"></i>&nbsp;修改
										</a>
										
										<a href="#" ng-click="del(x.roleId)" ng-show="up.p_delete=='on'?true:false">|<i
												class="fa fa-trash text-success" ></i>&nbsp;删除</a>
										</div>
										
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<!-- 底部内容体 -->
	<!-- <div ng-include="'../footer.html'"></div> -->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'role-add.html'"></div>
	<!-- 编辑-->
	<div ng-include="'role-edit.html'"></div>
	<div ng-include="'role-menu.html'"></div>
	
	<script type="text/javascript"
	src="../../Resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
<script type="text/javascript"
	src="../../lib/zTree_v3/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="../../lib/zTree_v3/js/jquery.ztree.excheck-3.5.js"></script>
	<script type="text/javascript" src="../../Controllers/web/role.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
