<!DOCTYPE html>
<html>
<head>
<title>用户权限分配</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="power" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>安全管理</span></li>
							<li><a href="user.html" target="_self"><span>用户管理</span></a></li>
							<li class="active"><span>权限分配</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="alert alert-success">
				<i class="fa fa-close text-white pull-right" id="alert-close"></i>
				用户：{{user}} 权限分配
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group" style="padding-bottom:2px;">
						<button class="btn btn-success btn-sm" id="selectAll">全选
						</button>
						<button class="btn btn-info btn-sm" id="selectNo">全不选
						</button>
						<button class="btn btn-danger btn-sm" id="selectOther">反选
						</button>
						<button class="btn btn-warning btn-sm" ng-click="save()">保存权限</button>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-12">
					<div class="form-group col-md-1">

						<input id="selectAll" class="magic-checkbox" type="checkbox"
							name="selectAll" value="1"> <label for="selectAll"><span>全选</span></label>
					</div>
					<div class="form-group col-md-1">

						<input id="selectOther" class="magic-checkbox" type="checkbox"
							name="selectOther" value="1"> <label for="selectOther"><span>反选</span></label>
					</div>
				</div>
			</div> -->
			<form action="#" id="form" onSubmit="return false">
				<div class="row" ng-show="false">
					<input type="text" name="userId" value="" ng-model="userId" />
					<input type="text" name="user" value="" ng-model="user" />
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<!-- <div class="panel-tools">
									<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
										class="closebox"><i class="fa fa-times"></i></a>
								</div> -->
								运维管理模块权限
							</div>
							<div class="panel-body">
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_report" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_report=='on'"
												name="o_check_report"> <label for="o_check_report"></label>
										</div>
										报告审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_service" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_service=='on'"
												name="o_check_service"> <label for="o_check_service"></label>
										</div>
										服务抽检审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_netoptimize" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_netoptimize=='on'"
												name="o_check_netoptimize"> <label
												for="o_check_netoptimize"></label>
										</div>
										网络优化审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_emergency" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_emergency=='on'"
												name="o_check_emergency"> <label
												for="o_check_emergency"></label>
										</div>
										应急处置演练审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_work" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_work=='on'"
												name="o_check_work"> <label for="o_check_work"></label>
										</div>
										工作记录审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_change" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_change=='on'"
												name="o_check_change"> <label for="o_check_change"></label>
										</div>
										资产核查审核
									</div>
								</div>
									<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_add_asset" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_add_asset=='on'"
												name="o_check_add_asset"> <label for="o_check_add_asset"></label>
										</div>
										新增资产审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_scrap_asset" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_scrap_asset=='on'"
												name="o_check_scrap_asset"> <label for="o_check_scrap_asset"></label>
										</div>
										报废资产审核
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_asset_update_status" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_asset_update_status=='on'"
												name="o_check_asset_update_status"> <label for="o_check_asset_update_status"></label>
										</div>
										资产状态变更审核
									</div>
								</div>
									<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_fault" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_fault=='on'"
												name="o_check_fault"> <label for="o_check_fault"></label>
										</div>
										故障处理审核
									</div>
								</div>
											<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_operations_check" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_operations_check=='on'"
												name="o_check_operations_check"> <label for="o_check_operations_check"></label>
										</div>
										运维考核审核
									</div>
								</div>
										<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_cut" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_cut=='on'"
												name="o_check_cut"> <label for="o_check_cut"></label>
										</div>
										核减审核
									</div>
								</div>
											<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_system_up" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_system_up=='on'"
												name="o_check_system_up"> <label for="o_check_system_up"></label>
										</div>
										审核系统升级
									</div>
								</div>
									<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_duty" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_duty=='on'"
												name="o_check_duty"> <label for="o_check_duty"></label>
										</div>
										运维值班文件审核
									</div>
								</div>
									<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_check_inspection" class="toggle-switch"
												type="checkbox" ng-checked="data.o_check_inspection=='on'"
												name="o_check_inspection"> <label for="o_check_inspection"></label>
										</div>
										运维巡检文件审核
									</div>
								</div>
									<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_add" class="toggle-switch" type="checkbox"
												ng-checked="data.o_add=='on'" name="o_add"> <label
												for="o_add"></label>
										</div>
										添加数据
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_update" class="toggle-switch" type="checkbox"
												ng-checked="data.o_update=='on'" name="o_update"> <label
												for="o_update"></label>
										</div>
										修改数据
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_delete" class="toggle-switch" type="checkbox"
												ng-checked="data.o_delete=='on'" name="o_delete"> <label
												for="o_delete"></label>
										</div>
										删除数据
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="o_order" class="toggle-switch" type="checkbox"
												ng-checked="data.o_order=='on'" name="o_order"> <label
												for="o_order"></label>
										</div>
										运维派单
									</div>
								</div>
								<!-- col-md-3 -->
							</div>
						</div>
					</div>
				</div>
				<!--  row----end -->
				<div class="row">
					<div class="col-md-12">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<!-- <div class="panel-tools">
									<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
										class="closebox"><i class="fa fa-times"></i></a>
								</div> -->
								业务管理模块权限
							</div>
							<div class="panel-body">
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_joinnet" class="toggle-switch"
												type="checkbox" ng-checked="data.b_check_joinnet=='on'"
												name="b_check_joinnet"> <label for="b_check_joinnet"></label>
										</div>
										审核入网申请
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_quitnet" class="toggle-switch"
												type="checkbox" ng-checked="data.b_check_quitnet=='on'"
												name="b_check_quitnet"> <label for="b_check_quitnet"></label>
										</div>
										审核退网申请
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_businesschange" class="toggle-switch"
												type="checkbox"
												ng-checked="data.b_check_businesschange=='on'"
												name="b_check_businesschange"> <label
												for="b_check_businesschange"></label>
										</div>
										审核业务变更申请
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_fault" class="toggle-switch"
												type="checkbox" ng-checked="data.b_check_fault=='on'"
												name="b_check_fault"> <label for="b_check_fault"></label>
										</div>
										审核故障申报申请
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_communicationsupport"
												class="toggle-switch" type="checkbox"
												ng-checked="data.b_check_communicationsupport=='on'"
												name="b_check_communicationsupport"> <label
												for="b_check_communicationsupport"></label>
										</div>
										审核通信保障申请
									</div>
								</div>
								<!-- col-md-3 -->
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_check_lend" class="toggle-switch"
												type="checkbox" ng-checked="data.b_check_lend=='on'"
												name="b_check_lend"> <label for="b_check_lend"></label>
										</div>
										审核租借设备申请
									</div>
								</div>
								<!-- col-md-3 -->


								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_add" class="toggle-switch" type="checkbox"
												ng-checked="data.b_add=='on'" name="b_add"> <label
												for="b_add"></label>
										</div>
										添加数据
									</div>
								</div>
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_update" class="toggle-switch" type="checkbox"
												ng-checked="data.b_update=='on'" name="b_update"> <label
												for="b_update"></label>
										</div>
										修改数据
									</div>
								</div>
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_delete" class="toggle-switch" type="checkbox"
												ng-checked="data.b_delete=='on'" name="b_delete"> <label
												for="b_delete"></label>
										</div>
										删除删除
									</div>
								</div>
								<!-- <div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_open" class="toggle-switch" type="checkbox"
												ng-checked="data.b_open=='on'" name="b_delete"> <label
												for="b_open"></label>
										</div>
										遥启
									</div>
								</div>
								<div class="form-group col-md-3">
									<div class="list-group-item">
										<div class="pull-right">
											<input id="b_kill" class="toggle-switch" type="checkbox"
												ng-checked="data.b_kill=='on'" name="b_delete"> <label
												for="b_kill"></label>
										</div>
										遥毙
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<!--  row----end -->
				<div class="row">
					<div class="col-md-12">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<!-- <div class="panel-tools">
									<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
										class="closebox"><i class="fa fa-times"></i></a>
								</div> -->
								平台管理模块权限
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group col-md-3">
													<div class="list-group-item">
														<div class="pull-right">
															<input id="p_add" class="toggle-switch" type="checkbox"
																ng-checked="data.p_add=='on'" name="p_add"> <label
																for="p_add"></label>
														</div>
														添加数据
													</div>
												</div>
												<div class="form-group col-md-3">
													<div class="list-group-item">
														<div class="pull-right">
															<input id="p_update" class="toggle-switch"
																type="checkbox" ng-checked="data.p_update=='on'"
																name="p_update"> <label for="p_update"></label>
														</div>
														修改数据
													</div>
												</div>
												<div class="form-group col-md-3">
													<div class="list-group-item">
														<div class="pull-right">
															<input id="p_delete" class="toggle-switch"
																type="checkbox" ng-checked="data.p_delete=='on'"
																name="p_delete"> <label for="p_delete"></label>
														</div>
														删除数据
													</div>
												</div>
												<div class="form-group col-md-3">
													<div class="list-group-item">
														<div class="pull-right">
															<input id="p_lock" class="toggle-switch" type="checkbox"
																ng-checked="data.p_lock=='on'" name="p_lock"> <label
																for="p_lock"></label>
														</div>
														启用/禁用账号
													</div>
												</div>
												<div class="form-group col-md-3">
													<div class="list-group-item">
														<div class="pull-right">
															<input id="p_power" class="toggle-switch" type="checkbox"
																ng-checked="data.p_power=='on'" name="p_power"> <label
																for="p_power"></label>
														</div>
														权限分配
													</div>
												</div>
											</div>
										</div>
										<!-- row-end -->



									</div>
								</div>
							</div>
							<!-- panel-body -->
						</div>
						<!-- panel -->
					</div>
					<!-- col-md-12 -->
				</div>
				<!-- row -->

			</form>
			
		</div>
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/web/user-power.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
