
<div>
	<div class="row">
		<div class="col-md-7">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">
					</div>
					开关量
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div style="width:200px;"
								ng-class="{'panel-card hbgreen':emhData.door==0,'panel-card hbgred':emhData.door==1,'panel-card td-warning':emhData.door==null}">
								<div class="card-img">
									<i class="fa fa-bell fa-3x"></i>
								</div>
								<div class="card-info">
									<label>门磁传感器</label></br> 
									<span ng-if="emhData.door==null">数据获取失败！！</span>
									<i class="fa fa-check-square-o"
										ng-if="emhData.door==0"></i> <i class="fa fa-close"
										ng-if="emhData.door==1"></i> <span ng-if="emhData.door==0">门关闭</span>
									<span ng-if="emhData.door==1">门打开</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div style="width:200px;"
								ng-class="{'panel-card hbgreen':emhData.smoke==0,'panel-card hbgred':emhData.smoke==1,'panel-card td-warning':emhData.smoke==null}">
								<div class="card-img">
									<i class="fa fa-fire fa-3x"></i>
								</div>
								<div class="card-info">
									<label>烟雾传感器</label></br> 
									<span ng-if="emhData.smoke==null">数据获取失败！！</span>
									<i class="fa fa-check-square-o"
										ng-if="emhData.smoke==0"></i> <i class="fa fa-close"
										ng-if="emhData.smoke==1"></i> <span ng-if="emhData.smoke==0">正常</span>
									<span ng-if="emhData.smoke==1">异常</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div style="width:200px;"
								ng-class="{'panel-card hbgreen':emhData.red==0,'panel-card hbgred':emhData.red==1,'panel-card td-warning':emhData.red==null}">
								<div class="card-img">
									<i class="fa fa-magic fa-3x"></i>
								</div>
								<div class="card-info">
									<label>红外传感器</label></br> 
									<span ng-if="emhData.red==null">数据获取失败！！</span>
									<i class="fa fa-check-square-o"
										ng-if="emhData.red==0"></i> <i class="fa fa-close"
										ng-if="emhData.red==1"></i> <span ng-if="emhData.red==0">正常</span>
									<span ng-if="emhData.red==1">异常</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div style="width:200px;"
								ng-class="{'panel-card hbgreen':emhData.water==0,'panel-card hbgred':emhData.water==1 ,'panel-card td-warning':emhData.water==null}">
								<div class="card-img">
									<i class="fa fa-tint fa-3x"></i>
								</div>
								<div class="card-info">
									<label>水浸传感器</label></br> 
									<span ng-if="emhData.water==null">数据获取失败！！</span>
									<i class="fa fa-check-square-o"
										ng-if="emhData.water==0"></i> <i class="fa fa-close"
										ng-if="emhData.water==1"></i> <span ng-if="emhData.water==0">正常</span>
									<span ng-if="emhData.water==1">异常</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">

					</div> 
					温湿度
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div id="temp-div"
								style="height:200px;background:#fff; width:200px;color:#fff;margin:0;padding:0"></div>
						</div>
						<div class="col-md-6">
							<div id="damp-div"
								style="height:200px;background:#fff; width:200px;color:#fff;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- row -->
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">
					</div>
					电量监测
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 div-left">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>直流电压</label></br> <span>{{emhData.lv}}V</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>交流电压</label></br> <span>{{emhData.jv}}V</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>直流电流</label></br> <span>{{emhData.li}}A</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>交流电流</label></br> <span>{{emhData.ji}}A</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- row -->
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">

					</div>
					UPS配电设备
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 div-left">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输入相电压</label></br> <span>{{emhData.ups1}}V</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输出相电压</label></br> <span>{{emhData.ups2}}V</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输入频率</label></br> <span>{{emhData.ups3}}Hz</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>电池组电压</label></br> <span>{{emhData.ups4}}V</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- row -->
	
	
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">

					</div>
					智能电表
				</div>
				<div class="panel-body">
					<div class="row">
					
					
						<div class="col-md-12 div-left" >
							
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>电压</label></br> <span>{{emhData.e1}}V</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>电流</label></br> <span>{{emhData.e2}}A</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>功率因数</label></br> <span>{{emhData.e3}}</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>电表度数</label></br> <span>{{emhData.e4}}KWH</span>

								</div>
							</div>
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>频率</label></br> <span>{{emhData.e5}}Hz</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- row -->
</div>

