<div class="modal fade" id="editCat" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header " style="text-align: center;margin:0px auto;">
                <span style="font-weight: bold;font-size: 16px;">修改设备</span>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <form action="#" id="editCatForm" onSubmit="return false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>设备类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="deviceType" style="width:100%;">
                                    <option value="">阴极保护在线检测仪</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>站点名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="siteNameEdit" style="width:100%;" name="site_id" ng-change="changeRtuListEdit()" ng-model="x">
                                    <option ng-repeat="x in siteNamesEdit" ng-value="x.site_id" ng-selected="editData.site_id == x.site_id">{{x.site_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>RTU-ID</label>&nbsp;<span class="text-danger">[*]</span>
                                <!--<select class="selectForArea" id="rtu_idEdit" style="width:100%;" name="rtu_id">
                                    <option ng-repeat="x in rtuNamesEdit" ng-value="x.rtu_id" ng-selected="editData.rtu_id == x.rtu_id">{{x.rtu_id}}</option>
                                </select>-->
                                <input type="text" ng-value="editData.rtu_id" class="form-control" name="rtu_id" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="catType" style="width:100%;" name="">
                                    <option ng-if="editData.cathode_id != 0" >RS485</option>
                                    <option ng-if="editData.cathode_id == 0" >模拟量</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="cat485" ng-if="editData.cathode_id != 0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>设备ID</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_id" class="form-control" name="cathode_id" placeholder="请输入阴极保护的ID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>名称</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_name" class="form-control" name="cathode_name" placeholder="请输入阴极保护的名称">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>型号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_model" class="form-control" name="cathode_model" placeholder="请输入阴极保护的型号">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>安装位置</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_location" class="form-control" name="cathode_location" placeholder="请输入阴极保护的安装位置">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_space" class="form-control" name="cathode_space" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>同串口查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_ospace" class="form-control" name="cathode_ospace" placeholder="请输入">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.rtu_port" class="form-control" name="rtu_port" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口波特率</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.rtu_baud_rate" class="form-control" name="rtu_baud_rate" placeholder="请输入">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="computeType">
                                    <option value="1" ng-selected="editData.computeType == 1">Ⅰ型</option>
                                    <option value="2" ng-selected="editData.computeType == 2">Ⅱ型</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="factor">
                                    <option value="1000" ng-selected="editData.factor == '1000'">A</option>
                                    <option value="250" ng-selected="editData.factor == '250'">B</option>
                                    <option value="204.75" ng-selected="editData.factor == '204.75'">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.fullscale" class="form-control" name="fullscale" placeholder="量程">
                            </div>
                            <div class="form-group col-md-6">
                                <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.calvalue" class="form-control" name="calvalue" placeholder="修正参数">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.cathode_threshold1" class="form-control" name="cathode_threshold1" placeholder="预警高值">
                            </div>
                            <div class="form-group col-md-6">
                                <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.cathode_threshold2" class="form-control" name="cathode_threshold2" placeholder="预警低值">
                            </div>
                        </div>

                    </div>

                    <div class="catTest" ng-if="editData.cathode_id == 0">
                        <input type="hidden" value="0" class="form-control" name="cathode_id" placeholder="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>名称</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_name" class="form-control" name="cathode_name" placeholder="请输入阴极保护的名称">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>型号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_model" class="form-control" name="cathode_model" placeholder="请输入阴极保护的型号">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>安装位置</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_location" class="form-control" name="cathode_location" placeholder="请输入阴极保护的安装位置">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.rtu_port" class="form-control" name="rtu_port" placeholder="接入端口">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_space" class="form-control" name="cathode_space" placeholder="请输入">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                    <select class="selectForArea" id="" style="width:100%;" name="computeType">
                                        <option value="1" ng-selected="editData.computeType == 1">Ⅰ型</option>
                                        <option value="2" ng-selected="editData.computeType == 2">Ⅱ型</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                    <select class="selectForArea" id="" style="width:100%;" name="factor">
                                        <option value="1000" ng-selected="editData.factor == '1000'">A</option>
                                        <option value="250" ng-selected="editData.factor == '250'">B</option>
                                        <option value="204.75" ng-selected="editData.factor == '204.75'">C</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.fullscale" class="form-control" name="fullscale" placeholder="量程">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.calvalue" class="form-control" name="calvalue" placeholder="修正参数">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_threshold1" class="form-control" name="cathode_threshold1" placeholder="预警高值">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.cathode_threshold2" class="form-control" name="cathode_threshold2" placeholder="预警低值">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm"
                        data-dismiss="modal">
                    <i class="fa fa-remove"></i>&nbsp;关闭
                </button>
                <button type="button" ng-disabled="form.$invalid"
                        class="btn btn-success btn-sm" id="editCat_btn">
                    <i class="fa fa-plus"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#editCat_btn").click(function() {
        /*if($("#connectTypeAdd").val() == "全部模式"){
            alert("请选择网络模式！")
            return false;
        }*/
        $('#editCatForm').submit();
        xh.editCat();
    });
</script>
