
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				添加设备维护记录
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>站点名称</label>&nbsp;<span class="text-danger">[*]</span>
								<select class="selectForArea" id="siteName" style="width: 100%;" name="site_id">
									<option ng-repeat="x in siteNames" ng-value="x.site_id" ng-selected="goSiteId == x.site_id || siteIdAdd == x.site_id">{{x.site_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>RTU-ID</label>&nbsp;<span class="text-danger">[*]</span>
								<select class="selectForArea" id="rtuName" style="width: 100%;" name="rtu_id">
									<option value="">RTU-ID</option>
									<option ng-repeat="x in rtuNames" ng-value="x.rtu_id" ng-selected="rtuIdAdd == x.rtu_id">{{x.rtu_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>设备类型</label>&nbsp;<span class="text-danger">[*]</span>
								<select class="selectForArea" id="deviceName" style="width: 100%;" name="deviceType">
									<option ng-repeat="x in deviceNames" ng-value="x.id" ng-selected="deviceTypeAdd == x.id">{{x.name}}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>维修原因</label>&nbsp;<span class="text-danger">[*]</span>
								<textarea style="width:100%;height: 220px;" placeholder="请输入维修原因" name="reason"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>维修内容</label>&nbsp;<span class="text-danger">[*]</span>
								<textarea style="width:100%;height: 220px;" placeholder="请输入维修内容" name="content"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;新增
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
        xh.add();
	});
</script>