<div class="modal fade" id="editStray" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header " style="text-align: center;margin:0px auto;">
                <span style="font-weight: bold;font-size: 16px;">修改设备</span>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <form action="#" id="editStrayForm" onSubmit="return false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>设备类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="deviceType" style="width:100%;">
                                    <option value="">温湿度在线检测仪</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>站点名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="siteNameEdit" style="width:100%;" name="site_id" ng-change="changeRtuListEdit()" ng-model="x">
                                    <option ng-repeat="x in siteNamesEdit" ng-value="x.site_id" ng-selected="editData.site_id == x.site_id">{{x.site_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>RTU-ID</label>&nbsp;<span class="text-danger">[*]</span>
                                <!--<select class="selectForArea" id="rtu_idEdit" style="width:100%;" name="rtu_id">
                                    <option ng-repeat="x in rtuNamesEdit" ng-value="x.rtu_id" ng-selected="editData.rtu_id == x.rtu_id">{{x.rtu_id}}</option>
                                </select>-->
                                <input type="text" ng-value="editData.rtu_id" class="form-control" name="rtu_id" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="strayType" style="width:100%;" name="equipType">
                                    <option ng-if="editData.equipType == 1" value="1">RS485</option>
                                    <option ng-if="editData.equipType == 2" value="2">模拟量</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="stray485" ng-if="editData.equipType == 1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>设备ID</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_id" class="form-control" name="stret_id" placeholder="请输入杂散电流的ID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>名称</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_name" class="form-control" name="stret_name" placeholder="请输入杂散电流的名称">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>型号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_model" class="form-control" name="stret_model" placeholder="请输入杂散电流的型号">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label>安装位置</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_location" class="form-control" name="stret_location" placeholder="请输入杂散电流的安装位置">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_space" class="form-control" name="stret_space" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>同串口查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_ospace" class="form-control" name="stret_ospace" placeholder="请输入">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.rtu_port" class="form-control" name="rtu_port" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口波特率</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.rtu_baud_rate" class="form-control" name="rtu_baud_rate" placeholder="请输入">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="color: black;">
                                端口1配置：
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>设备名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.portName1" class="form-control" name="portName1" placeholder="杂散直流电压">
                            </div>
                            <div class="form-group col-md-3">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="computeType1">
                                    <option value="1" ng-selected="editData.computeType1 == 1">Ⅰ型</option>
                                    <option value="2" ng-selected="editData.computeType1 == 2">Ⅱ型</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="factor1">
                                    <option value="1000" ng-selected="editData.factor1 == '1000'">A</option>
                                    <option value="250" ng-selected="editData.factor1 == '250'">B</option>
                                    <option value="204.75" ng-selected="editData.factor1 == '204.75'">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.fullscale1" class="form-control" name="fullscale1" placeholder="量程">
                            </div>
                            <div class="form-group col-md-3">
                                <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.calvalue1" class="form-control" name="calvalue1" placeholder="修正参数">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold1_1" class="form-control" name="stret_threshold1_1" placeholder="预警高值">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold2_1" class="form-control" name="stret_threshold2_1" placeholder="预警低值">
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-md-12" style="color: black;">
                                端口2配置：
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>设备名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.portName2" class="form-control" name="portName2" placeholder="杂散交流电压">
                            </div>
                            <div class="form-group col-md-3">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="computeType2">
                                    <option value="1" ng-selected="editData.computeType2 == 1">Ⅰ型</option>
                                    <option value="2" ng-selected="editData.computeType2 == 2">Ⅱ型</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="factor2">
                                    <option value="1000" ng-selected="editData.factor2 == '1000'">A</option>
                                    <option value="250" ng-selected="editData.factor2 == '250'">B</option>
                                    <option value="204.75" ng-selected="editData.factor2 == '204.75'">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.fullscale2" class="form-control" name="fullscale2" placeholder="量程">
                            </div>
                            <div class="form-group col-md-3">
                                <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.calvalue2" class="form-control" name="calvalue2" placeholder="修正参数">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold1_2" class="form-control" name="stret_threshold1_2" placeholder="预警高值">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold2_2" class="form-control" name="stret_threshold2_2" placeholder="预警低值">
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-md-12" style="color: black;">
                                端口3配置：
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>设备名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.portName3" class="form-control" name="portName3" placeholder="杂散直流电流">
                            </div>
                            <div class="form-group col-md-3">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="computeType3">
                                    <option value="1" ng-selected="editData.computeType3 == 1">Ⅰ型</option>
                                    <option value="2" ng-selected="editData.computeType3 == 2">Ⅱ型</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="factor3">
                                    <option value="1000" ng-selected="editData.factor3 == '1000'">A</option>
                                    <option value="250" ng-selected="editData.factor3 == '250'">B</option>
                                    <option value="204.75" ng-selected="editData.factor3 == '204.75'">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.fullscale3" class="form-control" name="fullscale3" placeholder="量程">
                            </div>
                            <div class="form-group col-md-3">
                                <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.calvalue3" class="form-control" name="calvalue3" placeholder="修正参数">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold1_3" class="form-control" name="stret_threshold1_3" placeholder="预警高值">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold2_3" class="form-control" name="stret_threshold2_3" placeholder="预警低值">
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-md-12" style="color: black;">
                                端口4配置：
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>设备名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.portName4" class="form-control" name="portName4" placeholder="杂散交流电流">
                            </div>
                            <div class="form-group col-md-3">
                                <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="computeType4">
                                    <option value="1" ng-selected="editData.computeType4 == 1">Ⅰ型</option>
                                    <option value="2" ng-selected="editData.computeType4 == 2">Ⅱ型</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="" style="width:100%;" name="factor4">
                                    <option value="1000" ng-selected="editData.factor4 == '1000'">A</option>
                                    <option value="250" ng-selected="editData.factor4 == '250'">B</option>
                                    <option value="204.75" ng-selected="editData.factor4 == '204.75'">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.fullscale4" class="form-control" name="fullscale4" placeholder="量程">
                            </div>
                            <div class="form-group col-md-3">
                                <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.calvalue4" class="form-control" name="calvalue4" placeholder="修正参数">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold1_4" class="form-control" name="stret_threshold1_4" placeholder="预警高值">
                            </div>
                            <div class="form-group col-md-3">
                                <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.stret_threshold2_4" class="form-control" name="stret_threshold2_4" placeholder="预警低值">
                            </div>
                        </div>
                        <hr/>

                    </div>

                    <div class="strayTest" ng-if="editData.equipType == 2">
                        <input type="hidden" value="0" class="form-control" name="stret_id" placeholder="请输入杂散电流的ID">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>名称</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_name" class="form-control" name="stret_name" placeholder="请输入杂散电流的名称">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>型号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_model" class="form-control" name="stret_model" placeholder="请输入杂散电流的型号">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>安装位置</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_location" class="form-control" name="stret_location" placeholder="请输入杂散电流的安装位置">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group col-md-12">
                                    <label>端口号</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.portId" class="form-control" name="portId" placeholder="接入端口">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_space" class="form-control" name="stret_space" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>同串口查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_ospace" class="form-control" name="stret_ospace" placeholder="请输入">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>所属类型</label>&nbsp;<span class="text-danger">[*]</span>
                                    <select class="selectForArea" id="" style="width:100%;" name="computeType">
                                        <option value="1" ng-selected="editData.computeType == 1">Ⅰ型</option>
                                        <option value="2" ng-selected="editData.computeType == 2">Ⅱ型</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>系数</label>&nbsp;<span class="text-danger">[*]</span>
                                    <select class="selectForArea" id="" style="width:100%;" name="factor">
                                        <option value="1" ng-selected="editData.factor == '1000'">A</option>
                                        <option value="2" ng-selected="editData.factor == '250'">B</option>
                                        <option value="3" ng-selected="editData.factor == '204.75'">C</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>量程</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.fullscale" class="form-control" name="fullscale" placeholder="量程">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>修正参数</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.calvalue" class="form-control" name="calvalue" placeholder="修正参数">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>预警高值</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_threshold1" class="form-control" name="stret_threshold1" placeholder="预警高值">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label>预警低值</label>&nbsp;<span class="text-danger">[*]</span>
                                    <input type="text" ng-value="editData.stret_threshold2" class="form-control" name="stret_threshold2" placeholder="预警低值">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm"
                        data-dismiss="modal">
                    <i class="fa fa-remove"></i>&nbsp;关闭
                </button>
                <button type="button" ng-disabled="form.$invalid"
                        class="btn btn-success btn-sm" id="editStray_btn">
                    <i class="fa fa-plus"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#editStray_btn").click(function() {
        /*if($("#connectTypeAdd").val() == "全部模式"){
            alert("请选择网络模式！")
            return false;
        }*/
        $('#editStrayForm').submit();
        xh.editStray();
    });
</script>
