<div class="modal fade" id="editSpd" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header " style="text-align: center;margin:0px auto;">
                <span style="font-weight: bold;font-size: 16px;">修改设备</span>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <form action="#" id="editSpdForm" onSubmit="return false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>设备类型</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="deviceType" style="width:100%;">
                                    <option value="">SPD在线检测仪</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>站点名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" id="siteNameEdit" style="width:100%;" name="site_id" ng-change="changeRtuListEdit()" ng-model="x">
                                    <option ng-repeat="x in siteNamesEdit" ng-value="x.site_id" ng-selected="editData.site_id == x.site_id">{{x.site_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>RTU-ID</label>&nbsp;<span class="text-danger">[*]</span>
                                <!--<select class="selectForArea" id="rtu_idEdit" style="width:100%;" name="rtu_id">
                                    <option ng-repeat="x in rtuNamesEdit" ng-value="x.rtu_id" ng-selected="editData.rtu_id == x.rtu_id">{{x.rtu_id}}</option>
                                </select>-->
                                <input type="text" ng-value="editData.rtu_id" class="form-control" name="rtu_id" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>名称</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" value="" class="form-control" ng-value="editData.spd_name" name="spd_name" placeholder="请输入SPD的名称">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>型号</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" value="" class="form-control" ng-value="editData.spd_model" name="spd_model" placeholder="请输入SPD的型号">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>安装位置</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" value="" class="form-control" ng-value="editData.spd_location" name="spd_location" placeholder="请输入SPD的安装位置">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>查询间隔</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" value="" class="form-control" ng-value="editData.spd_space" name="spd_space" placeholder="请输入SPD的查询间隔(秒)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>SPD路数</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" value="" class="form-control" ng-value="editData.spd_number" name="spd_number" placeholder="请输入SPD的路数" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>防护等级</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="radio" value="1" class="" name="spd_level" ng-checked="editData.spd_level == '1'">一级
                                <input type="radio" value="2" class="" name="spd_level" ng-checked="editData.spd_level == '2'">二级
                                <input type="radio" value="3" class="" name="spd_level" ng-checked="editData.spd_level == '3'">三级
                                <input type="radio" value="4" class="" name="spd_level" ng-checked="editData.spd_level == '4'">四级
                                <input type="radio" value="5" class="" name="spd_level" ng-checked="editData.spd_level == '5'">五级
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm"
                        data-dismiss="modal">
                    <i class="fa fa-remove"></i>&nbsp;关闭
                </button>
                <button type="button" ng-disabled="form.$invalid"
                        class="btn btn-success btn-sm" id="editSpd_btn">
                    <i class="fa fa-plus"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#editSpd_btn").click(function() {
        /*if($("#connectTypeAdd").val() == "全部模式"){
            alert("请选择网络模式！")
            return false;
        }*/
        $('#editSpdForm').submit();
        xh.editSpd();
    });
</script>