<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>信虹智慧服务平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="./favicon.ico">
    <!-- third party css -->
    <!--<link href="./css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />-->
    <!-- third party css end -->
    <!-- App css -->
    <!-- build:css -->
    <link href="./css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="./css/sweet-alert.css" rel="stylesheet" type="text/css"/>
    <link href="./css/toastr.min.css" rel="stylesheet" type="text/css"/>
    <style>
        /*下拉菜单样式*/
        .selectForArea {
            padding: .45rem .9rem;
            font-size: .875rem;
            line-height: 1.5;
            color: #6c757d;
            background-color: #fff;
            background-clip: padding-box;
            border: 2px solid #dee2e6;
            border-radius: .1rem;
        }
    </style>
</head>
<body ng-app="app" ng-controller="xhcontroller" style="padding-right:0!important;">
<!-- Begin page -->
<div class="wrapper">

    <div class="content-page" style="padding: 5px 5px 5px 0px;">
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-left">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">信虹智慧服务平台</li>
                                <li class="breadcrumb-item"><a href="Views/menu/menu_search.html" target="_self">数据查询</a></li>
                                <li class="breadcrumb-item"><a>实时数据</a></li>
                            </ol>
                        </div>
                        <div>
                            <form id="searchForm" class="form-inline">
                                <select class="selectForArea" id="testIndustrys" style="width:12%;">
                                    <option ng-repeat="x in industrys" ng-value="x">{{x}}</option>
                                </select>
                                <select class="selectForArea" id="testSiteName" style="width:12%;">
                                    <option ng-repeat="x in siteNames" ng-value="x">{{x}}</option>
                                </select>
                                <select class="selectForArea" id="testProvince" style="width:12%;"></select>
                                <select class="selectForArea" id="testCity" style="width:12%;"></select>
                                <select class="selectForArea" id="testArea" style="width:12%;"></select>


                                <select class="selectForArea" id="testRTUConnectType" style="width:12%;">
                                    <option ng-repeat="x in connectType" ng-value="x.id">{{x.name}}</option>
                                </select>
                                <input type="text" class="form-control" id="rtu_ip" placeholder="请输入RTU的IP"
                                       style="width:12%;">
                                <input type="text" class="form-control" id="deviceId" placeholder="请输入设备的ID"
                                       style="width:12%;">
                                <button type="button" class="btn btn-success btn-rounded" ng-click="refresh()">刷新
                                </button>
                            </form>

                        </div>

                        <div>
                            <form id="buttonForm" class="form-inline" style="margin-top: 10px;margin-bottom: 10px;">
                                <button type="button" class="btn btn-info " ng-click="">SPD</button>
                                <button type="button" class="btn btn-success " ng-click="">雷电流</button>
                                <button type="button" class="btn btn-success " ng-click="showETCR()">地阻</button>
                                <button type="button" class="btn btn-success " ng-click="">温湿度</button>
                                <button type="button" class="btn btn-success " ng-click="">静电</button>
                                <button type="button" class="btn btn-success " ng-click="">杂散电流</button>
                                <button type="button" class="btn btn-success " ng-click="">阴极保护</button>
                                <button type="button" class="btn btn-success " ng-click="">倾斜度</button>
                                <button type="button" class="btn btn-success " ng-click="">电器安全</button>
                            </form>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">设备情况</h4>
                                        <p class="text-muted font-14 mb-4">
                                            设备安装位置和所属RTU
                                        </p>

                                        <div class="table-responsive-sm" style="height:500px;overflow:scroll;">
                                            <table class="table table-bordered table-centered mb-0">
                                                <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>RTU-ID</th>
                                                    <th>名称</th>
                                                    <th>安装位置</th>
                                                    <th class="text-center">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="x in etcrData">
                                                    <td class="table-user">
                                                        1
                                                    <td>{{x.rtu_id}}</td>
                                                    <td>{{x.rst_name}}</td>
                                                    <td>{{x.rst_location}}</td>
                                                    <td class="table-action text-center">
                                                        <a ng-click="showETCRConf($index);" href="" class="action-icon" title="点击查询"> <i
                                                                class="mdi mdi-magnify"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div>
                            <div class="col-xl-6">
                                <div class="card">
                                <div class="card-body"  style="height: 628px;">
                                    <h4 class="header-title">参数情况</h4>
                                    <p class="text-muted font-14 mb-4">
                                        详细信息一览
                                    </p>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>查询间隔</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_space" class="form-control" name="site_name" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>同串口查询间隔</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_ospace" class="form-control" name="site_industry" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>设备ID</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_id" class="form-control" name="site_company" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>名称</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_name" class="form-control" name="site_name" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group col-md-12">
                                                <label>安装位置</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_location" class="form-control" name="site_industry" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>型号</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rst_model" class="form-control" name="site_name" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>RTU-ID</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rtu_id" class="form-control" name="site_industry" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>端口号</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rtu_port" class="form-control" name="site_company" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>端口波特率</label>&nbsp; <input
                                                    type="text" ng-value="oneConfData.rtu_baud_rate" class="form-control" name="site_name" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>预警阈值</label>&nbsp; <input
                                                    type="text" ng-value="" class="form-control" name="site_industry" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <label>所属类型</label>&nbsp; <input
                                                    type="text" value="地阻在线监测仪-J" class="form-control" name="site_company" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                    <div class="row" style="margin-top: 60px;">
                                        <div class="col-md-4">
                                            <div class="form-group col-md-12">
                                                <button ng-click="searchNowData(oneConfData)" type="button" class="btn btn-info btn-lg">查询数据</button>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group col-md-12">
                                                <input type="text" ng-value="wlk.rst_value" class="form-control" name="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- end page title -->

        <!--<div class="page" style="float: right;margin-top: 30px;">
            <div class="page-info">
                <span>每页显示</span><select id="page-limit" ng-change="refresh()" class="selectForArea"
                                         ng-model="count">
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select> <span>条,</span><span ng-model="index">显示{{start}}-</span><span
                    ng-model="lastIndex">{{lastIndex}}条,</span> <span
                    ng-model="totals">总计{{totals}}条</span>
                <i class="fa fa-refresh page-refresh" title="刷新数据" ng-click="refresh()"></i>
            </div>
            <div class="page-paging"></div>
        </div>-->
    </div> <!-- container -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- bundle -->
<script src="./javascript/app.min.js"></script>
<script src="angularjs/jquery-3.2.1.min.js"></script>
<script src="angularjs/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="angularjs/metisMenu.min.js"></script>
<script src="js/sweet-alert.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/nowData.js"></script>
<script src="js/areaSelect.js"></script>
<script src="js/paging.js"></script>
<!--<script src="./javascript/demo.dashboard.js"></script>-->
<script type="text/javascript">
    addressInit('testProvince', 'testCity', 'testArea');
    xh.load();
</script>
</body>

</html>