<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header ">
                <span>修改RTU</span>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <form action="#" id="editForm" onSubmit="return false">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>RTU的内部id号</label>&nbsp;<span class="text-danger">[*]</span>
                                <input type="text" ng-value="editData.rtu_id" class="form-control" name="rtu_id" placeholder="请输入RTU的id号" style="border: 1px solid black;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>RTU所属站点</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" ng-value="editData.site_id" name="site_id" style="width:100%;">
                                    <option ng-repeat="x in siteNames" ng-value="x.site_id" ng-selected="editData.site_id == x.site_id">{{x.site_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>网络工作模式</label>&nbsp;<span class="text-danger">[*]</span>
                                <select class="selectForArea" ng-value="editData.connect_type" name="connect_type" style="width:100%;">
                                    <option ng-repeat="x in connectType" ng-value="x.id" ng-selected="editData.connect_type == x.id">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>RTU本机IP</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="text" value="" class="form-control" name="rtu_ip" style="border: 1px solid black;"
                                       ng-value="editData.rtu_ip" placeholder="请输入RTU的本机IP">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>RTU本机掩码</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="text" value="" class="form-control" name="rtu_netmask" style="border: 1px solid black;"
                                       ng-value="editData.rtu_netmask" placeholder="请输入RTU的本机掩码">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>RTU本机网关</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="text" value="" class="form-control" name="rtu_gateway" style="border: 1px solid black;"
                                       ng-value="editData.rtu_gateway" placeholder="请输入RTU的本机网关">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>中心IP</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="text" value="" class="form-control" name="center_ip" style="border: 1px solid black;"
                                       ng-value="editData.center_ip" placeholder="请输入中心IP">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label>中心端口</label>&nbsp;<span class="text-danger">[*]</span><br/>
                                <input type="text" value="" class="form-control" name="center_port" style="border: 1px solid black;"
                                       ng-value="editData.center_port" placeholder="请输入中心端口">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm"
                        data-dismiss="modal">
                    <i class="fa fa-remove"></i>&nbsp;关闭
                </button>
                <button type="button" ng-disabled="form.$invalid"
                        class="btn btn-success btn-sm" id="edit_btn">
                    <i class="fa fa-plus"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#edit_btn").click(function() {
        $('#editForm').submit();
        xh.edit();
    });
</script>