<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>信虹智慧服务平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="./favicon.ico">
        <!-- third party css -->
        <!--<link href="./css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />-->
        <!-- third party css end -->
        <!-- App css -->
        <!-- build:css -->
        <link href="./css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="./css/sweet-alert.css" rel="stylesheet" type="text/css" />
        <link href="./css/toastr.min.css" rel="stylesheet" type="text/css" />
        <style>
            /*下拉菜单样式*/
            .selectForArea{
                padding: .45rem .9rem;
                font-size: .875rem;
                line-height: 1.5;
                color: #6c757d;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid black;
                border-radius: 8px;
            }
            .selectForPage{
                padding: .20rem .9rem;
                font-size: .875rem;
                line-height: 1.5;
                color: #6c757d;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid black;
                border-radius: 8px;
            }
        </style>
    </head>
    <body ng-app="app" ng-controller="xhcontroller" style="padding-right:0!important;background-color: #d8d4d4;color:black;">
    <!-- splash screen-->
    <div class="splash" style="position: fixed;z-index: 2001;background: white;color: gray;top: 0;bottom: 0;left: 0;right: 0;">
        <div class="splash-title" style="text-align: center;max-width: 500px;margin: 15% auto;padding: 20px;">
            <h1 style="font-size: 26px;color: #004894;">数据加载中，请耐心等待</h1>
            <img src="xhIcon/loading.gif" width="100" height="100"/>
        </div>
    </div>
    <!-- Begin page -->
        <div class="wrapper">
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page" style="padding: 5px 5px 5px 0px;">
                <!-- Start Content-->
                <div class="container-fluid" style="border: 1px solid #8B8378;border-radius: 8px;padding-bottom:20px;">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-left">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">当前位置</li>
                                        <li class="breadcrumb-item"><a href="Views/menu/menu_device.html" target="_self">现场配置</a></li>
                                        <li class="breadcrumb-item"><a  style="color: #0caff4">RTU列表</a></li>
                                    </ol>
                                </div>
                                <div>
                                    <form id="searchForm" class="form-inline">
                                    <select class="selectForArea" id="testSiteName" style="width:15%;margin-right: 10px;">
                                        <option ng-repeat="x in siteNames" ng-value="x.site_id">{{x.site_name}}</option>
                                    </select>
                                    <select class="selectForArea" id="testRTUConnectType" style="width:15%;margin-right: 10px;">
                                        <option ng-repeat="x in connectType" ng-value="x.id">{{x.name}}</option>
                                    </select>
                                        <input type="text" class="form-control" id="rtu_ip" placeholder="请输入RTU的IP" style="width:15%;border: 1px solid black;margin-right: 10px;">
                                        <input type="text" class="form-control" id="rtu_netmask" placeholder="请输入RTU的子网掩码" style="width:15%;border: 1px solid black;margin-right: 10px;">
                                        <input type="text" class="form-control" id="rtu_gateway" placeholder="请输入RTU的网关" style="width:15%;border: 1px solid black;margin-right: 10px;">
                                        <button type="button" class="btn btn-secondary btn-rounded" ng-click="showMod()">新增</button>
                                        <button type="button" class="btn btn-success btn-rounded" ng-click="refresh()">查询</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- end page title -->
                    <div class="row">
                    <div class="card" style="width:29%;margin:30px 0 0px 30px;border-radius:8px;background-color: #FFFAFA;" ng-repeat="x in data">
                        <div>
                            <div ng-if="x.rtu_state == 0" style="text-align:center;float:left;width:28%;height: 42px;background-color: #27b056;line-height: 41px;border-top-left-radius:8px;">
                                <img src="iconfont/防护.png" width="30" height="30" style="margin-bottom:6px;">
                                <span style="color: white;">正常</span>
                            </div>
                            <div ng-if="x.rtu_state == 2" style="text-align:center;float:left;width:28%;height: 42px;background-color: #b08723;line-height: 41px;border-top-left-radius:8px;">
                                <img src="iconfont/账号异常.png" width="30" height="30" style="margin-bottom:6px;">
                                <span style="color: white;">异常</span>
                            </div>
                            <div ng-if="x.rtu_state == 1 || x.rtu_state == null" style="text-align:center;float:left;width:28%;height: 42px;background-color: #bfbfbf;line-height: 41px;border-top-left-radius:8px;">
                                <img src="iconfont/离线检查.png" width="30" height="30" style="margin-bottom:6px;">
                                <span style="color: white;">离线</span>
                            </div>

                            <div style="float:right;width:62%;margin-top: 3px;">
                                <button type="button" class="btn btn-outline-light"  title="在该RTU中添加设备" ng-click="goDevice(x.rtu_id,x.site_id)"><i class="mdi mdi-plus" style="color: #4876FF;"></i></button>
                                <button type="button" class="btn btn-outline-light" title="修改该RTU" ng-click="showEdit($index)"><i class="mdi mdi-box-cutter" style="color: #4876FF;"></i> </button>
                                <button type="button" class="btn btn-outline-light" title="数据统计" ng-click="goRTUStatistic(x.rtu_id)"><i class="mdi mdi-atlassian" style="color: #4876FF;"></i> </button>
                                <button type="button" class="btn btn-outline-light" title="设备列表" ng-click="goDevice(x.rtu_id)"><i class=" mdi mdi-camera-metering-matrix" style="color: #4876FF;"></i> </button>
                                <button type="button" class="btn btn-outline-light" title="删除该RTU" ng-click="delBs(x.rtu_id)"><i class="mdi mdi-close-circle" style="color: #EE4000;"></i> </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-centered mb-0">
                                    <tbody>
                                    <tr>
                                        <td>站点</td>
                                        <td>{{x.site_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>RTU-ID</td>
                                        <td>{{x.rtu_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>网络模式</td>
                                        <td ng-if="x.connect_type == 0">UDP</td>
                                        <td ng-if="x.connect_type == 1">TCP</td>
                                    </tr>
                                    <tr>
                                        <td>本机IP</td>
                                        <td>{{x.rtu_ip}}</td>
                                    </tr>
                                    <tr>
                                        <td>网络掩码</td>
                                        <td>{{x.rtu_netmask}}</td>
                                    </tr>
                                    <tr>
                                        <td>网关地址</td>
                                        <td>{{x.rtu_gateway}}</td>
                                    </tr>
                                    <tr>
                                        <td>中心IP</td>
                                        <td>{{x.center_ip}}</td>
                                    </tr>
                                    <tr>
                                        <td>中心端口</td>
                                        <td>{{x.center_port}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                    </div>

                <!-- end row-->
                <div class="page" style="float: left;margin-top: 36px;">
                    <div class="page-info">
                        <span>每页显示</span><select id="page-limit" ng-change="refresh()" class="selectForPage"
                                                 ng-model="count">
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select> <span>条,</span><span ng-model="index">显示{{start}}-</span><span
                            ng-model="lastIndex">{{lastIndex}}条,</span> <span
                            ng-model="totals">总计{{totals}}条</span>
                        <i class="fa fa-refresh page-refresh" title="刷新数据" ng-click="refresh()"></i>
                    </div>
                </div>
                <div style="float: right;margin-top: 30px;">
                    <div class="page-paging"></div>
                </div>
                </div> <!-- container -->



            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- 添加模态框 -->
        <!-- 添加 -->
        <div ng-include="'rtuList-add.html'"></div>
        <!-- 修改 -->
        <div ng-include="'rtuList-edit.html'"></div>
        <!-- bundle -->
        <script src="./javascript/app.min.js"></script>
        <script src="angularjs/jquery-3.2.1.min.js"></script>
        <script src="angularjs/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="angularjs/metisMenu.min.js"></script>
        <script src="js/sweet-alert.js"></script>
        <script src="js/toastr.min.js"></script>
        <script src="js/rtu.js"></script>
        <script src="js/paging.js"></script>
        <!--<script src="./javascript/demo.dashboard.js"></script>-->
        <script type="text/javascript">
            xh.load();
            $(document).ready(function() {
                $('.splash').css('display', 'none');
            });
        </script>
    </body>

</html>