
<div class="modal fade" id="show" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<div style="width:750px;text-align:center;font-size: 16px;">实时查询</div>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div ng-show="deviceTypeChoosed == 1 && ETCRAddCount != 0" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">接触式地阻</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in ETCROneData">
								<a ng-href="#tagIndex{{$index+1}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>

							<li class="nav-item" ng-repeat="x in ETCRTwoData">
								<a ng-href="#tagIndex{{$index+1}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">

							<div ng-class="changeRSContentClass(x)" id="tagIndex{{$index+1}}" ng-repeat="x in ETCROneData">
								<div class="row">
									<div class="col-7">
										<img src="xhImg/XHRM-J接触式电阻.png" width="100%"
											 height="88%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_port" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.rst_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.rst_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>测试值(Ω)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div class="row">
											<div class="form-group col-md-3">
												<button ng-if="x.relayno_name1 == 0 && x.rst_line_radius1 != 1" type="button" class="btn-sm btn-info" style="background-color: #0c29ff" ng-attr-title="{{x.relayno_location1}}" onclick="settime(this)" value="0" name="1">  <span>Ⅰ</span> </button>
												<button ng-if="x.relayno_name1 == 1" type="button" class="btn-sm btn-danger" disabled>  <span>Ⅰ</span> </button>
												<button ng-if="x.relayno_name1 != 1 && x.relayno_name1 != 0" type="button" class="btn-sm btn-gray" disabled>  <span>Ⅰ</span> </button>
												<button ng-if="x.relayno_name1 == 0 && x.rst_line_radius1 == 1" type="button" class="btn-sm btn-warning" style="background-color: #EEAD0E" ng-attr-title="{{x.relayno_location1}}" onclick="settime(this)" value="0" name="1">  <span>Ⅰ</span> </button>
											</div>
											<div class="form-group col-md-3">
												<button ng-if="x.relayno_name2 == 0 && x.rst_line_radius2 != 1" type="button" class="btn-sm btn-info" style="background-color: #0c29ff" ng-attr-title="{{x.relayno_location2}}" onclick="settime(this)" value="0" name="2">  <span>Ⅱ</span> </button>
												<button ng-if="x.relayno_name2 == 1" type="button" class="btn-sm btn-danger" disabled>  <span>Ⅱ</span> </button>
												<button ng-if="x.relayno_name2 != 1 && x.relayno_name2 != 0" type="button" class="btn-sm btn-gray" disabled>  <span>Ⅱ</span> </button>
												<button ng-if="x.relayno_name2 == 0 && x.rst_line_radius2 == 1" type="button" class="btn-sm btn-warning" style="background-color: #EEAD0E" ng-attr-title="{{x.relayno_location2}}" onclick="settime(this)" value="0" name="2"> <span>Ⅱ</span> </button>
											</div>
											<div class="form-group col-md-3">
												<button ng-if="x.relayno_name3 == 0 && x.rst_line_radius3 != 1" type="button" class="btn-sm btn-info" style="background-color: #0c29ff" ng-attr-title="{{x.relayno_location3}}" onclick="settime(this)" value="0" name="3">  <span>Ⅲ</span> </button>
												<button ng-if="x.relayno_name3 == 1" type="button" class="btn-sm btn-danger" disabled>  <span>Ⅲ</span> </button>
												<button ng-if="x.relayno_name3 != 1 && x.relayno_name3 != 0" type="button" class="btn-sm btn-gray" disabled>  <span>Ⅲ</span> </button>
												<button ng-if="x.relayno_name3 == 0 && x.rst_line_radius3 == 1" type="button" class="btn-sm btn-warning" style="background-color: #EEAD0E" ng-attr-title="{{x.relayno_location3}}" onclick="settime(this)" value="0" name="3"><span>Ⅲ</span> </button>
											</div>
											<div class="form-group col-md-3">
												<button ng-if="x.relayno_name4 == 0 && x.rst_line_radius4 != 1" type="button" class="btn-sm btn-info" style="background-color: #0c29ff" ng-attr-title="{{x.relayno_location4}}" onclick="settime(this)" value="0" name="4">  <span>Ⅳ</span> </button>
												<button ng-if="x.relayno_name4 == 1" type="button" class="btn-sm btn-danger" disabled>  <span>Ⅳ</span> </button>
												<button ng-if="x.relayno_name4 != 1 && x.relayno_name4 != 0" type="button" class="btn-sm btn-gray" disabled>  <span>Ⅳ</span> </button>
												<button ng-if="x.relayno_name4 == 0 && x.rst_line_radius4 == 1" type="button" class="btn-sm btn-warning" style="background-color: #EEAD0E" ng-attr-title="{{x.relayno_location4}}" onclick="settime(this)" value="0" name="4"><span>Ⅳ</span> </button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div ng-class="changeRSContentClass(x)" ng-repeat="x in ETCRTwoData" id="tagIndex{{$index+1}}" style="text-align: center;">
								<div class="row">
									<div class="col-7">
										<img src="xhImg/XHRM-J接触式电阻.png" width="100%"
											 height="88%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_port" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.rst_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.rst_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>测试值(Ω)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.rst_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="0" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.rst_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 1 && ETCRThreeCount != 0" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">非接触式地阻</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in ETCRThreeData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in ETCRThreeData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7" style="line-height: 300px;">
										<img src="xhImg/XHRM-F非接触式电阻.png" width="100%"
											 height="230">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.rst_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.rst_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>测试值(Ω)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.rst_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="1" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.rst_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 3" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">雷电流</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in LightningData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in LightningData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7" style="text-align: center;">
										<img src="xhImg/XHLM-Ⅰ雷电流.png" width="47%"
											 height="100%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.ltn_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.ltn_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>测试值(kA)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.ltn_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="2" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.ltn_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 4" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">静电</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in StaticData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in StaticData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7">
										<img src="xhImg/XHEM-Ⅰ静电.png" width="100%"
											 height="95%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.staet_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.staet_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>测试值(kV)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.staet_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="4" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.staet_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 5" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">温湿度</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in RswsData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in RswsData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7" style="text-align: center;">
										<img src="xhImg/XHTHM-Ⅰ温湿度.png" width="75%"
											 height="100%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.hmt_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.hmt_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>温度(℃)</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>湿度(%)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.hmt_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="3" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.hmt_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger"></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 6" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">倾斜度</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in SvtData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in SvtData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7" style="line-height: 360px;">
										<img src="xhIcon/XHTAM-Ⅰ倾斜度.png" width="100%"
											 height="60%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.tilt_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.tilt_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>顺线倾斜角(°)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>横向倾斜角(°)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>顺线倾斜度：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>横向倾斜度：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>综合倾斜度：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.tilt_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="5" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.tilt_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 7" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">电气安全</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in HcData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in HcData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7" style="line-height: 300px;">
										<img src="xhImg/XHESM-Ⅰ电气安全.png" width="100%"
											 height="67%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.es_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.es_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>零地电压(V)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>零线电流(A)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>剩余电流(mA)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>线缆温度(℃)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.es_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="6" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.es_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 8" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">杂散电流</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in StrayData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in StrayData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7">
										<img src="xhImg/XHSM-Ⅰ杂散电流.png" width="100%"
											 height="83%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-6">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.stret_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.stret_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>杂散直流电压(V)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>杂散交流电压(V)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label>杂散直流电流(A)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
											<div class="form-group col-md-6">
												<label>杂散交流电流(A)：</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.stret_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="7" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.stret_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div ng-show="deviceTypeChoosed == 9" class="card" style="width:100%;">
					<div class="card-body">
						<h4 class="header-title">阴极保护</h4>
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item" ng-repeat="x in CatData">
								<a ng-href="#tagIndexes{{$index}}" data-toggle="tab" ng-class="changeRSTabClass(x)">
									<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
									<span class="d-none d-lg-block">{{$index+1}}</span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div ng-repeat="x in CatData" ng-class="changeRSContentClass(x)" id="tagIndexes{{$index}}">
								<div class="row">
									<div class="col-7">
										<img src="xhImg/XHCVM-1阴极保护.png" width="100%"
											 height="83%">
									</div>
									<div class="col-5">
										<div class="row">
											<div class="form-group col-md-12">
												<label>接入端口</label>
												<input class="form-control" ng-value="x.rtu_channel" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>设备ID</label>
												<input class="form-control" ng-value="x.cathode_id" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>安装位置</label>
												<input class="form-control" ng-value="x.cathode_location" type="text" readonly/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12">
												<label>阴极保护电压(V)</label>
												<input class="form-control" type="text" readonly/>
											</div>
										</div>

										<div ng-if="x.cathode_state == 0" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-info" style="background-color: #0c29ff" title="查询值" onclick="settime(this)" value="8" name="0"> <i class="mdi mdi-cloud mr-1"></i> <span>点击查询</span> </button>
											</div>
										</div>

										<div ng-if="x.cathode_state == 1" class="row">
											<div class="form-group col-md-12">
												<button type="button" class="btn btn-block btn-danger" disabled><span>无法查询</span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>