<!DOCTYPE html>
<html>
<head>
<title>business_menu.html</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>

</head>

<body class="fixed-iframe" ng-app="app" ng-controller="menu">
	<!-- splash screen-->
	<div class="splash" style="position: fixed;z-index: 2001;background: white;color: gray;top: 0;bottom: 0;left: 0;right: 0;">
		<div class="splash-title" style="text-align: center;max-width: 500px;margin: 15% auto;padding: 20px;">
			<h1 style="font-size: 26px;color: #004894;">数据加载中，请耐心等待</h1>
			<img src="../../xhIcon/loading.gif" width="100" height="100"/>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<!-- <div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li class="active"><span>服务监管</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div> -->
		<div class="content animate-panel" style="margin-top:0px">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 设备列表
						</div>
						<div class="panel-body">
						    <div class="menu-box text-center" style="cursor: pointer;">
							<a href="../../siteList.html" target="_self">
								<!-- <i class="fa fa-map fa-4x text-success"></i> -->
								<img alt="" src="../../Resources/images/icon/64/cb.png">
								<p>站点列表</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
							<a href="../../rtuList.html" target="_self">
							     <img alt="" src="../../Resources/images/icon/64/msc.png">
								<p>RTU列表</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
							<a href="../../deviceList.html" target="_self">
								<!-- <i class="fa fa-life-buoy fa-4x text-primary"></i> -->
								<img alt="" src="../../Resources/images/icon/64/lend.png">
								<p>设备列表</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->

		</div>
	</div>
	<!-- 中间内容体 /-->
<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
<script type="text/javascript" src="../../Controllers/menu/menu.js"></script>
<script type="text/javascript">
		xh.load();
</script>

</body>
</html>
