  <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>系统状态</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>运维管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="blank_page.html"> Blank Page</a></li>

                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>综合业务</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="general.html"> General</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>平台管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="Views/web/user.html" target="mainframe"> 用户管理</a></li>
                    </ul>
                </li>

               

               
            </ul>