<!-- 左侧导航菜单 -->
<!-- Sidebar -->
<aside id="menu">

	<!-- Sidbar Widgets -->
	<div class="side-widgets" id="menu-h">
	
	<div class="dropdown">
						
					</div>
	
	
		<!-- Profile Menu -->
		<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"> 
						<img
				class="profile-pic animated" src="Resources/images/img/profile.jpg"
				alt=""></a>
		<p>
		<span>欢迎你!</span>&nbsp;&nbsp;<span
								id="login-user" name="AS"></span>
		</p>
				
						<ul class="dropdown-menu user-dropdown animated flipInX m-t-xs " style="margin-top:-50px;margin-left:50px;">
							
							<li><a href="Views/operations/email.html" target="mainframe"><i
									class="fa fa-envelope-o fa-x"></i>&nbsp;&nbsp;邮件</a></li>
							<li><a href="Views/web/updateMember.html" target="mainframe"><i
									class="fa fa-edit fa-x"></i>&nbsp;&nbsp;修改个人资料</a></li>
							<li class="divider"></li>
							<li><a href="web/loginOut"><i
									class="fa fa-hand-pointer-o fa-x"></i>&nbsp;&nbsp;退出登录</a></li>
						</ul>
			<!-- <a href="" data-toggle="dropdown"> <img
				class="profile-pic animated" src="Resources/images/img/profile.jpg"
				alt="">
			</a>
			<ul class="dropdown-menu profile-menu">
				<li><a href="Views/operations/email.html" target="mainframe"><i
						class="fa fa-envelope-o fa-x "></i>&nbsp;&nbsp;<span>邮件</span></a></li>
				<li><a href="Views/web/updateMember.html" target="mainframe"><i
						class="fa fa-edit fa-x"></i>&nbsp;&nbsp;<span>修改个人资料</span></a></li>
				<li class="divider"></li>
				<li><a href="web/loginOut"><i
						class="fa fa-hand-pointer-o fa-x"></i>&nbsp;&nbsp;<span>退出登录</span></a></li>
			</ul>
			<h4>
				<span style="font-size:11pt;">欢迎你!</span>&nbsp;&nbsp;<span
					id="login-user" name="AS"></span>
			</h4> -->
		</div>

		<!-- s-widget m-b-25 -->
		<div class="s-widget"
			style="margin-top:1px; padding-top:1px;border-top:1px solid #fff;">

			<div class="s-widget-body" style="height:400px;overflow: auto;"
				id="menu_widget">
				<!-- 左侧导航菜单 -->

				<ul class="nav" id="side-menu">
					<li ng-show="menu.m_1"><a href="map.html" target="mainframe"><span
							class="nav-label"> <i class="fa fa-life-bouy"></i> <!-- <img alt="" src="Resources/images/icon/16/bricks.png"> -->&nbsp;
								系统状态
						</span></a></li>

					<li ng-show="menu.m_2"><a href="#"> <span
							class="nav-label"> <i class="fa fa-adjust"></i> <!-- <img alt="" src="Resources/images/menu/web.png"> -->&nbsp;
								运维管理
						</span><span class="fa arrow"></span>
					</a>
						<ul class="nav">

							<li ng-show="menu.m_21" id="monitor"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;实时监测
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">

									<li class="active" ng-show="menu.m_211"><a
										href="Views/operations/serverstatus.html" target="mainframe"><i
											class="fa fa-sitemap"></i>&nbsp;交换中心状态 </a></li>
									<li ng-show="menu.m_212"><a
										href="Views/operations/bsstatus.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;基站状态
									</a></li>

									<li ng-show="menu.m_214"><a
										href="Views/operations/bsAlarm.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;故障告警
									</a></li>
									<li ng-show="menu.m_215"><a href="Views/business/access-user-monitor.html"
										target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;接入应用监测
									</a></li>
								</ul></li>
							<li ng-show="menu.m_22"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;日常监管
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_221"><a
										href="Views/operations/reportCheck.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;报告审核
									</a></li>
									<li ng-show="menu.m_222"><a
										href="Views/business/qualitycheck.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;服务抽检
									</a></li>
									<li ng-show="menu.m_223"><a
										href="Views/business/optimizenet.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;网络优化
									</a></li>

									<li ng-show="menu.m_224"><a
										href="Views/business/emergency.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;应急处置演练
									</a></li>
									<!-- <li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;典型故障分析
						</a></li> -->
									<!-- <li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;全网路测
						</a></li> -->
									<li ng-show="menu.m_225"><a
										href="Views/operations/work.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;工作记录
									</a></li>
								</ul></li>
							<li ng-show="menu.m_23"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;资产管理
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_231"><a
										href="Views/business/asset-count.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;资产概况
									</a></li>
									<li ng-show="menu.m_232"><a
										href="Views/business/asset-info.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;资产明细
									</a></li>
									<li ng-show="menu.m_233"><a
										href="Views/business/assetCheck.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;变更管理
									</a></li>
								</ul></li>
							<li ng-show="menu.m_24"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;系统运维
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li><a href="Views/operations/bsFault.html"
										target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;基站故障记录
									</a></li>


									<!-- <li ng-show="menu.m_241"><a
							href="Views/monitor/ordermanage.html" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;故障处理
						</a></li>
						<li ng-show="menu.m_242"><a href="Views/operations/duty.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>;&nbsp;运维值班
						</a></li> -->
									<li ng-show="menu.m_243"><a
										href="Views/operations/appInspection.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;运维巡检
									</a></li>
									<li ng-show="menu.m_244"><a
										href="Views/operations/eventReport.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;事件上报
									</a></li>
									<li ng-show="menu.m_245"><a
										href="Views/operations/bsInfo.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;资源配置
									</a></li>
								</ul></li>
								
								
								<li ng-show="menu.m_22"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;运维报表
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_221"><a
										href="Views/operations/chart_call.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;话务统计报表
									</a></li>
									<li ng-show="menu.m_221"><a
										href="Views/operations/chart_day_report.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;日常维护表
									</a></li>
								

								</ul></li>
								
								
								
						</ul></li>

					<li ng-show="menu.m_3"><a href="#"> <span
							class="nav-label"> <i class="fa fa-suitcase"></i>&nbsp;
								业务管理
						</span><span class="fa arrow"></span>
					</a>
						<ul class="nav ">

							<li ng-show="menu.m_31"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;用户服务
								</span> <span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_311"><a
										href="Views/business/joinnet.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;入网
									</a></li>
									<li ng-show="menu.m_312"><a
										href="Views/business/quitnet.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;退网
									</a></li>
									<li ng-show="menu.m_313"><a
										href="Views/business/devicemanage.html" target="mainframe">
											<i class="fa fa-sitemap"></i>&nbsp;业务变更
									</a></li>
									<li ng-show="menu.m_314"><a
										href="Views/business/fault.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;故障申报
									</a></li>
									<li ng-show="menu.m_315"><a
										href="Views/business/communicationsupport.html"
										target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;通信保障
									</a></li>
									<li ng-show="menu.m_316"><a
										href="Views/business/lend.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;设备租借
									</a></li>
								</ul></li>
							<li ng-show="menu.m_32"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;数据管理
								</span><span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_321"><a
										href="Views/business/radiouser.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;基础数据
									</a></li>
									<!-- <li><a href="Views/business/talkgroup.html" target="mainframe">用户组 </a></li> -->
									<!-- <li><a href="Views/business/vpn.html" target="mainframe">组织结构 </a></li> -->
									<li ng-show="menu.m_322"><a
										href="Views/operations/audio.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;业务数据

									</a></li>
									<li ng-show="menu.m_323"><a
										href="Views/business/radiouserbusiness.html"
										target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;权限模板
									</a></li>
									<!-- <li><a href="Views/business/dgna.html" target="mainframe">其他 </a></li> -->
								</ul></li>
							<li ng-show="menu.m_33"><a href="#"> <span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;终端管理
								</span><span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li ng-show="menu.m_331"><a
										href="Views/business/dgna.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;动态重组
									</a></li>
									<!-- <li><a href="Views/business/talkgroup.html" target="mainframe">用户组 </a></li> -->
									<!-- <li><a href="Views/business/vpn.html" target="mainframe">组织结构 </a></li> -->
									<li ng-show="menu.m_332"><a
										href="Views/business/kill.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;遥启遥毙

									</a></li>
									<li ng-show="menu.m_333"><a
										href="Views/business/gpsset.html" target="mainframe"> <i
											class="fa fa-sitemap"></i>&nbsp;gps参数设置
									</a></li>
									<!-- <li><a href="Views/business/dgna.html" target="mainframe">其他 </a></li> -->
								</ul></li>
						</ul></li>

					<li ng-show="menu.m_4"><a href="#"> <span
							class="nav-label"> <i class="fa fa-pie-chart"></i>&nbsp;
								统计分析
						</span><span class="fa arrow"></span>
					</a>
						<ul class="nav ">
							<li ng-show="menu.m_41"><a
								href="Views/operations/audio-chart.html" target="mainframe"><i
									class="fa fa-sitemap"></i>&nbsp; 话务统计 </a></li>
							<li><a href="#"> <span class="nav-label"> <i
										class="fa fa-sitemap"></i>&nbsp;健康度风险度分析
								</span><span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li><a
										href="http://183.221.117.37:8888/analystrunner/36b0f088-4065-4ead-94e7-52d137776465?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											风险分析 </a></li>
									<li><a
										href="http://183.221.117.37:8888/analystrunner/ed92db76-43c0-4cb0-a3ee-256b377234e8?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											健康分析 </a></li>
								</ul></li>
							<li><a href="#"> <span class="nav-label"> <i
										class="fa fa-sitemap"></i>&nbsp;热度分析
								</span><span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li><a
										href="http://183.221.117.37:8888/analystrunner/7301984d-4219-454d-9ff1-f5af0885b77c?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											全网热度</a></li>
									<li><a
										href="http://183.221.117.37:8888/analystrunner/4efdf93a-051e-48b1-8498-68c6e94bbf05?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											区域热度 </a></li>
									<li><a
										href="http://183.221.117.37:8888/analystrunner/a784b0aa-5248-451f-a227-83758f5a18fa?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											基站热度 </a></li>
								</ul></li>
							<li><a href="#"> <span class="nav-label"> <i
										class="fa fa-sitemap"></i>&nbsp;用户行为分析
								</span><span class="fa arrow"></span>
							</a>
								<ul class="nav nav-three-level">
									<li><a
										href="http://183.221.117.37:8888/analystrunner/d07281be-0b5a-45f9-aa8e-7f7b2fd8f423?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											单位组行为</a></li>
									<li><a
										href="http://183.221.117.37:8888/analystrunner/12640b13-1dc1-46a0-8716-8912fa82447f?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											单位用户行为</a></li>
									<li><a
										href="http://183.221.117.37:8888/analystrunner/50fd15d2-0efc-4bdb-9997-3dd8f676e4c3?vpnId={{loginUserVpnId}}"
										target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
											用户聚焦</a></li>
								</ul></li>





							<!-- <li ng-show="menu.m_41"><a
								href="http://183.221.117.37:8888/analystrunner/410c7cbc-8396-497a-b432-d44365a326c6"
								target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
									各终端离网趋势预测</a></li>
							<li ng-show="menu.m_41"><a
								href="http://183.221.117.37:8888/analystrunner/67d536a7-0ce7-4b25-820e-6ee746ce391e"
								target="mainframe"><i class="fa fa-sitemap"></i>&nbsp;
									用户聚焦分析 </a></li> -->

						</ul></li>
					<li ng-show="menu.m_5"><a href="#"> <span
							class="nav-label"> <i class="fa fa-desktop"></i>&nbsp;
								平台管理
						</span><span class="fa arrow"></span>
					</a>
						<ul class="nav ">
							<li ng-show="menu.m_51"><a href="Views/web/role.html"
								target="mainframe"><span class="nav-label"> <i
										class="fa fa-sitemap"></i>&nbsp;角色管理
								</span> </a></li>
							<li ng-show="menu.m_52"><a href="Views/web/user.html"
								target="mainframe"><span class="nav-label"> <i
										class="fa fa-sitemap"></i>&nbsp;用户管理
								</span> </a></li>
							<li ng-show="menu.m_53"><a href="Views/web/log.html"
								target="mainframe"> <span class="nav-label"
									target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;日志管理
								</span>
							</a></li>
							<li ng-show="menu.m_54"><a href="Views/web/event.html"
								target="mainframe"><span class="nav-label"
									target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;计划任务
								</span> </a></li>
							<li ng-show="menu.m_55"><a
								href="Views/business/access-user.html" target="mainframe"><span
									class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;接入用户
								</span> </a></li>
							
						</ul></li>

				</ul>

			</div>

		</div>

	</div>


</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();

	$("#monitor")
			.on(
					'click',
					function() {
						document.getElementById("mainframe").src = "Views/operations/monitor.html";

					})
</script>
<script type="text/javascript">
	var user = "";
	var roleId = 0;
	$("#menu_widget").height(document.documentElement.clientHeight - 200);
	/* menu_widget */
	/* 登录用户信息 */
	$.ajax({
		url : 'web/loginUserInfo',
		type : 'post',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			var html = data.user /* + "&nbsp;&nbsp;<br>角色[" + data.role + "]" */;
			$("#login-user").html(
					"<span style='color:#fff; font-size:12pt;'>" + html
							+ "</span>");
		},
		error : function() {
		}
	});
</script>