<header id="header" class="media">
    <div class="logo pull-left">
    <a href="index.html" style="margin-right:23px;">
		<img src="Resources/images/img/logo.png" width="50" height="50" style="margin-right:10px;">综合应用与管理平台
	</a>
	<a href="" id="menu-toggle" ng-click="hideMenu()"></a> 
    </div>
	

	<div class="media-body">
		<div class="media" id="top-menu">
			

		

			<div class="pull-left tm-icon">
				<a href="Views/operations/email.html" target="mainframe"> <i
					class="fa fa-envelope-open-o  font-white" style="font-size:15pt;margin-top:15px;float: left;font-weight: 100; "></i> <i class="n-count animated"
					id="emailcount">0</i> <span style="margin-left:10px;">站内信</span>
				</a>
			</div>
			<div class="pull-left tm-icon">
				<a data-drawer="messages" class="dropdown-toggle" href=""
					data-toggle="dropdown" ng-if="loginUserVpnId==null || loginUserVpnId=='' || roleId==10000"> <i
					class="fa fa-bell-o fa-x font-white"
					style="font-size:15pt;margin-top:15px;float: left;font-weight: 100; "></i> <i
					class="n-count animated" id="alarmcount">0</i> <span style="margin-left:10px;">告警</span>
					
					
					
				</a>
				<div class="dropdown-menu hdropdown animated  bounceInUp  ">
	
						<div class="row" style="max-height:400px;overflow: auto;">

							<div class="col-md-12">

								<table id="tb-info" class="xh-table table-hover"
									style="margin-top:0px;color:#000;">
									<thead>
										<tr class="tr-gray">
											<th>告警位置</th>
											<th>告警描述</th>
											<th>时间</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="totals==0">
											<td colspan="3" class="text-center" style="color:#000;">无告警记录！</td>
										</tr>
										<tr ng-repeat="x in alarm" ng-if="x.bsId!=null">
											<td>{{x.bsId}}-{{x.name |bsName}}</td>
											<td ng-if="x.link==1"><i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;<i class="fa fa-eercast text-red"></i>&nbsp;&nbsp;【断开连接】
											</td>
											<td ng-if="x.link==null">
											
											
											<p ng-if="x.deviceId=='170300000000001'"><i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;<i class="fa fa-eercast text-warning"></i>&nbsp;&nbsp;水浸告警</p>
											
											
											<p ng-if="x.deviceId=='080200000000001'">
											<i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;
											<i class="fa fa-eercast text-blue"></i>&nbsp;&nbsp;{{x.description}}
					
											</p>
											
											
											<p ng-if="x.deviceId==null && x.DevNode=='0051'"><i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;<i class="fa fa-eercast text-blue"></i>&nbsp;&nbsp;三期基站,电量检测,交流电断开</p>
											<p ng-if="x.deviceId==null && x.DevNode=='0011'"><i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;<i class="fa fa-eercast text-warning"></i>&nbsp;&nbsp;水浸告警</p>
													
													
											</td>

											<td>{{x.time}}</td>
										</tr>
										<tr ng-repeat="x in alarm" ng-if="x.bsId==null">
											<td>[{{x.name}}]</td>
											<td><i ng-if="x.bell==0" class="fa fa-bell fa-x text-red"></i>&nbsp;<i class="fa fa-eercast text-yellow"></i>&nbsp;&nbsp;{{x.info}}</td>

											<td>{{x.time}}</td>
										</tr>
									</tbody>
								</table>

							</div>


						</div>
						<div class="row" ng-show="totals>0"
							style="margin-top:5px;margin-bottom:5px;">
							<div class="col-md-9">
								<div style="padding-top:10px;">
									<label style="color:#000;">提示[<b class="text-danger">勾选即声音提示告警记录</b>]&nbsp;&nbsp;
									</label> <input id="alarmbs" class="magic-checkbox" type="checkbox"
										name="alarmbs" value="2" ng-checked="true" onclick="xh.aa()">
									<label for="alarmbs">断站及交换中心</label>
									<input id="alarmji" class="magic-checkbox" type="checkbox"
										name="alarmji" value="1" ng-checked="true" onclick="xh.aa()">
									<label for="alarmji">交流电/水浸</label>
								</div>


							</div>
							<div class="col-md-3 ">
								<a href="#" onclick="xh.stopMap3()"
									class="btn btn-success btn-sm"><i
									class="fa fa-bell-slash-o"></i>解除声音</a>
							</div>


						</div>



					</div>
			</div>
			<div class="pull-left tm-icon">
				<a href="Views/operations/order.html" target="mainframe" ng-if="loginUserVpnId==null || loginUserVpnId=='' || roleId==10002 || roleId==10000"> <i
					class="fa fa-paper-plane-o  font-white"
					style="font-size:15pt;margin-top:15px;float: left;"></i> <i
					class="n-count animated" id="ordercount">0</i> <span style="margin-left:10px;">派单列表</span>
				</a>
			</div>
			<div class="dropdown pull-left tm-icon">
				<a data-drawer="messages" class="dropdown-toggle" href=""
					data-toggle="dropdown"> <i class="fa fa-qrcode fa-x font-white"
					style="margin-top:15px;float: left;font-size:15pt"></i><span style="margin-left:10px;">点我扫一扫</span>
				</a>
				<div class="dropdown-menu animated flipInX">
					<div class="row"
						style="max-height:400px;overflow: auto;padding:20px;">

						<div class="col-md-12">
							<p style="color:#000;">运维APP 安卓版下载链接,扫一扫</p>
							<img alt="" src="Resources/app/apk.png">
						</div>
					</div>



				</div>
			</div>

            <!-- <div class="pull-left tm-icon">
				<a href="index.html"
					target="_self"> <i class="fa fa-home"
					style="margin-top:15px;float: left;font-size:15pt"></i><span>首页</span>
				</a>
			</div> -->
			<!-- <div class="pull-left tm-icon">
				<a href="" onclick="dd()"> 
				<img src="Resources/images/img/esight.png"  style="margin-top:15px;float: left;" id="esight"/>
					<span style="margin-left:10px;">esight网管</span>
				</a>
			</div> -->

			<!-- <div id="time" class="pull-right" style="color:yellow">
				<span id="hours"></span> : <span id="min"></span> : <span id="sec"></span>
				<span id="fullTime"></span>
			</div> -->

			<!-- <div class="media-body">
					<input type="text" class="main-search">
				</div> -->
		</div>
	</div>
</header>
<audio id="bgMusic" loop="loop">
	<source src="Resources/sound/alarm.mp3" type="audio/mp3">
	<source src="Resources/sound/alarm.ogg" type="audio/ogg">
</audio>
<script type="text/javascript">
	var user = "";
	var roleId = 0;
	/* 	邮件 */
	$.ajax({
		url : 'center/email/noReadEmailCount',
		type : 'GET',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				$("#emailcount").html(data.totals);
			}
		},
		error : function() {
		}
	});
	/* 	派单 */
	$.ajax({
		url : 'order/orderNoComCount',
		type : 'GET',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			$("#ordercount").html(data.totals);
		},
		error : function() {
		}
	});
	$('.dropdown-menu').click(function(e) {
	    e.stopPropagation();
	});
	
	function dd(){
		window.open("http://172.27.253.22:8080");
	}
	/* $("#esight").click(function(){
		window.open('172.27.253.22:8080');
	}) */
</script>